#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: solid 5px white
}

th {
  padding: 10px;
}

td {
  border: 2px white solid;
  padding: 10px
}
